.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.dn {
    display: none;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.cb {
    clear: both;
}

.content {
    margin: 0 auto;
    width: 951px;
}

body {
    background-color: #acc2ac;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#bg_top {
    background-image: url("../images/bg/bg_top.jpg");
    background-repeat: repeat-x;
    width: 100%;
    height: 158px;
}

div#white_stripe {
    background-image: url("../images/bg/bg_top2.png");
    background-repeat: no-repeat;
    position: relative;
    margin-top: -104px;
}

h2.slogan {
    color: #3b3b3c;
    font-size: 10px;
    left: 227px;
    top: 39px;
    width: 208px;
    position: absolute;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

img.company {
    margin: 16px 0 0 12px;
}

div#call_us {
    width: 160px;
    position: absolute;
    top: 20px;
    left: 780px
}

img#call_icon {
    float: left;
    margin-right: 8px;
}

p#call {
    color: #406540;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
}

p#number {
    color: #013c72;
    font-weight: bold;
    font-size: 13px;
}

div#menu {
    background-image: url("../images/bg/bg_menu.png");
    background-repeat: repeat-x;
    height: 42px;
    width: 951px;
}

div#menu ul {
    height: 37px;
    margin-top: 3px;
}

div#menu ul li {
    display: block;
    float: left;
    padding-top: 14px;
    font-weight: bold;
    font-size: 14px;
}

div#menu ul li:first-child {
    margin-left: 13px;
}

div#menu ul li a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 30px;
}

div#menu ul li a:hover {
    color: #024584;
}

div#menu ul li.active {
    background-image: url("../images/bg/bg_home.gif");
    background-repeat: repeat-x;
    height: 24px;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
}

div#middle {
    min-height: 675px;
    background-color: #ffffff;
    -moz-box-shadow: 0 9px 10px 5px #888;
    -webkit-box-shadow: 0 9px 10px 5px #888;
    box-shadow: 0 9px 10px 5px #888;
    position: relative;
}

div#form {
    background-color: #a7c2dc;
    height: 388px;
    width: 317px;
    float: right;
    margin-bottom: 10px;
}

img.semicircle_part1 {
    position: absolute;
    left: 0px;
    top: 244px;
}

img.semicircle_part2 {
    position: absolute;
    left: 639px;
    top: 347px;
}

h2 {
    width: 182px;
    color: #1b4a7b;
    font-size: 19px;
    margin: 14px 0 0 34px;
}

div#form img {
    margin: -18px 0 0 230px;
}

input#submit {
    background-image: url("../images/search_button.png");
    height: 27px;
    width: 118px;
    margin: 21px 0 0 95px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    border: none;
}

dt {
    font-size: 11px;
    color: #3b593b;
    width: 94px;
    display: inline-block;
    text-align: right;
    margin: 0 0 12px 20px;
    font-weight: bold;
}

dd {
    font-size: 10px;
    color: #3b593b;
    display: inline;
}

img.semicircle {
    top: -160px;
    position: absolute;
}

img.semicircle_b {
    position: absolute;
    top: -57px;
    left: 637px;
}

div.properties {
    width: 193px;
    margin: 10px 0 0 18px;
}

div.properties h5 {
    color: #ffffff;
    background-image: url("../images/bg/bg_green.png");
    width: 193px;
    height: 28px;
    padding: 15px 0 0 21px;
    font-size: 13px;
    font-family: Verdana sans-serif;
    background-repeat: no-repeat;
}

div.properties h5 a {
    color: #ffffff;
    text-decoration: none;
}

div#offer {
    margin-top: 6px;
}

div#offer div {
    float: left;
    margin-left: 47px;
    width: 190px;
}

div#offer span {
    color: #8ea78e;
}

div#offer p {
    font-size: 11px;
    color: #58697d;
    font-weight: bold;
    margin-top: 20px;
}

div#offer a {
    text-decoration: none;
}

div#apartments {
    background-image: url("../images/bg/bg_blue.png");
    width: 914px;
    height: 225px;
    margin: 0px auto;
    background-repeat: repeat-x;
    padding-top: 5px;
}

div.apartment {
    background-image: url("../images/bg/square.png");
    background-repeat: no-repeat;
    width: 296px;
    height: 200px;
    position: relative;
    float: left;
    margin-left: 8px;
}

img.ofer_photo {
    margin: 18px 0 0 21px;
}

img.triangle {
    position: absolute;
    left: 171px;
    top: 99px;
}

p.price {
    color: #ffffff;
    display: block;
    font-size: 15px;
    transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    position: absolute;
    top: 122px;
    left: 225px;
}

div.apartment div.description p {
    font-size: 11px;
    color: #01294e;
    font-weight: bold;
    line-height: 12px;
    margin: 3px 0 0 23px;
}

div.apartment div.description p span {
    font-size: 11px;
    color: #3b593b;
}

div#footer {
    background-image: url("../images/bg/bg_footer.gif");
    background-repeat: repeat-x;
    height: 41px;
    position: relative;
    margin-bottom: 50px;
}

img.house {
    position: absolute;
    top: 5px;
    left: 5px;
    float: left;
}

p.list_footer {
    color: #ffffff;
    font-size: 11px;
    position: absolute;
    left: 127px;
    top: 16px;
    font-family: Verdana, sans-serif;
}

p.list_footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 11px 0 8px;
}

p.list_footer a:hover {
    color: #486e48;
}

p#template_source {
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    left: 753px;
    top: 16px;
}

p#template_source a {
    color: #ffffff;
    outline: none;
}

div#appear_box {
    position: fixed;
    top: 150px;
    left: 70px;
    height: 90px;
    width: 440px;
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    border-radius: 10px 10px 10px 10px;
}

div#appear_box img {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

p#show_box {
    margin-top: 25px;
    margin-left: 78px;
    font-family: 'Simonetta', cursive;
    line-height: 20px;
    opacity: 0.1;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity = 20);
}

