body {
    background-color: #acc2ac;
}

div#body {
    background-image: url("../images/bg/bg_top.jpg");
    background-repeat: repeat-x;
    width: 100%;
    height: 158px;
    position: relative;
}

div.white_stripe {
    background-image: url("../images/bg/bg_top2.png");
    background-repeat: no-repeat;
    height: 92px;
    width: 950px;
    position: absolute;
    margin-left: 197px;
    margin-top: 60px;
}

h2.slogan {
    color: #3b3b3c;
    font-size: 10px;
    left: 227px;
    top: 41px;
    width: 208px;
    position: absolute;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

img.company {
    margin-top: 16px;
    margin-left: 12px;
    position: absolute;
}

img.call {
    position: absolute;
    left: -51px;
    top: -5px;
}

div.call_us {
    width: 90px;
    float: right;
    margin-right: 72px;
    margin-top: 35px;
    position: relative;
}

h4.call {
    color: #406540;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
}

p.number {
    color: #013c72;
    font-weight: bold;
    font-size: 14px;
}

div#menu {
    width: 951px;
    background-image: url("../images/bg/bg_menu.gif");
    background-repeat: no-repeat;
    margin-top: 85px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

div.bg_middle {
    background-color: #acc2ac;
    width: 100%;
    height: 819px;
}

div.content {
    margin: 0 auto;
    width: 950px;
}

div#menu div {
    height: 37px;
    width: 950px;
}

div#menu div ul {
    /*padding-top: 10px;*/
}

div#menu div ul li {
    display: block;
    float: left;
    margin-right: -4px;
}

div#menu div ul li:first-child {
    margin-left: 13px;
}

div#menu div ul li a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 33px;
}
div#menu div ul li link a:visited {
    background-color:red;
}

div#menu div ul li a:hover {
    color: #024584;
}
li.active {
    background-image: url("../images/bg/bg_home.gif");
    height: 42px;
    border-radius:15px 2px 0 0 ;
    color: #ffffff;

}

div.middle_content {
    width: 949px;
    min-height: 675px;
    margin-left: 1px;
    position: relative;
    background-color: #ffffff;
}

img.photo_nr_1 {
    width: 327px;
    margin-left: 1px;
}

img.photo_nr_2 {
    position: absolute;
    margin-top: 1px;
}

div#form {
    background-color: #a7c2dc;
    height: 393px;
    width: 312px;
    float: right;
    margin-right: 1px;
}

h2 {
    width: 182px;
    color: #1b4a7b;
    font-size: 19px;
    margin-left: 34px;
    margin-top: 13px;
}

div#form img {
    margin-left: 230px;
    margin-top: -18px;
}

input#submit {
    background-image: url("../images/search_button.png");
    height: 27px;
    width: 118px;
    margin-top: 21px;
    margin-left: 95px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    border: none;
}

dt {
    font-size: 13px;
    color: #3b593b;
    width: 94px;
    margin-left: 30px;
    display: inline-block;
    text-align: right;
    margin-bottom: 12px;

}

dd {
    font-size: 11px;
    color: #3b593b;
    display: inline;
}

img.semicircle {
    top: -160px;
    position: absolute;
}

img.semicircle_b {
    position: absolute;
    top: -57px;
    left: 637px;
}

div#properties {
    background-color: #ffffff;
    width: 949px;
    position: relative;
}

div.properties {
    width: 193px;
    margin-left: 17px;
    margin-top: 10px;

}

div.properties h5 {
    color: #ffffff;
    background-image: url("../images/bg/bg_green.png");
    width: 193px;
    height: 35px;
    padding-top: 15px;
    padding-left: 21px;
    height: 28px;
    font-size: 13px;
    font-family: Verdana sans-serif;
    background-repeat: no-repeat;
}

div.properties h5 a {
    color: #ffffff;
    text-decoration: none;
}

div#offer {
    margin-left: 239px;
    margin-top: -58px;
}

div.photo {
    float: left;
    margin-left: 25px;
    margin-top: 4px;
}

p.photo_tur {
    margin-left: 66px;
    font-size: 11px;
    margin-top: -24px;
    color: #58697d;
    font-weight: bold;
}

span {
    color: #8ea78e;
}

div.view {
    float: left;
    margin-left: 47px;
    margin-top: 5px;
}

p.dolar {
    font-size: 11px;
    color: #58697d;
    font-weight: bold;
    margin-top: -26px;
    margin-left: 45px;
}

div.blog {
    margin-left: 47px;
    margin-top: 3px;
    float: left;
}

p.read {
    font-size: 11px;
    color: #58697d;
    font-weight: bold;
    margin-left: 41px;
    margin-top: -25px;
}

div#apartments {
    background-image: url("../images/bg/bg_blue.png");
    width: 914px;
    height: 211px;
    margin: 12px auto;
    background-repeat: repeat-x;
    padding-top: 5px;
}

div.apartment {
    background-image: url("../images/bg/square.png");
    background-repeat: no-repeat;
    width: 296px;
    height: 200px;
    position: relative;
    float: left;
    margin-left: 8px;
}

img.ofer_photo {
    margin: 18px 0 0 21px;

}

img.triangle {
    position: absolute;
    left: 171px;
    top: 99px;
}

p.price {
    color: #ffffff;
    display: block;
    font-size: 17px;
    transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    position: absolute;
    top: 122px;
    left: 225px;
}

p.orchard {
    font-size: 11px;
    color: #01294e;
    font-weight: bold;
    line-height: 12px;
    margin-left: 23px;
    margin-top: 3px;
}

p.orchard span {
    font-size: 11px;
    color: #3b593b;
}

div#footer {
    background-image: url("../images/bg/bg_footer.gif");
    background-repeat: repeat-x;
    width: 952px;
    width: 100%;
    height: 42px;
    position: relative;
}

img.house {
    position: absolute;
    top: 5px;
    left: 5px;
    float: left;
}

p.list_footer {
    color: #ffffff;
    font-size: 11px;
    position: absolute;
    left: 127px;
    top: 16px;
    font-family: Verdana, sans-serif;
}

p.list_footer a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 11px;
}

p.list_footer a:hover {
    color: #486e48;
}

p.realty_company {
    position: absolute;
    color: #ffffff;
    font-size: 12px;
    left: 753px;
    top: 16px;
}



